* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Oswald", sans-serif;
  background-color: orange;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* body {
  margin: -25px;
} */

.container {
  display: grid;
}
/* Header */
.header {
  display: grid;
  background-size: cover;
  grid-template-areas:
    "hero hero side1"
    "hero hero side1"
    "hero hero side2"
    "hero hero side2";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 3fr 3fr 5.2fr;
  padding-top: 70px;
}

.titles {
  font-size: 20px;
}

.hero {
  /* background-image: url("https://i.postimg.cc/63h29CWg/autri-taheri-3-G1-TJkt-MQJw-unsplash.jpg"); */
  background-image: url("https://i.postimg.cc/VkjftMpN/eniko-kis-Bv15r-Y8a-80-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #f5fefd;
  grid-area: hero;
  width: 800px;
  height: 800px;
}

.sideImg1 {
  background-image: url("https://i.postimg.cc/SxY8bXw7/sonny-mauricio-y-Fw-EQMYRF-0-unsplash.jpg");
  border: 2.5px solid black;
  background-position: center;
  grid-area: side1;
  color: #f65052;
  cursor: pointer;
}

.sideImg2 {
  background-image: url("https://i.postimg.cc/j2QXYDmS/strvnge-films-W-p0lc-L6-p0-unsplash.jpg");
  border: 2.5px solid black;
  background-position: center;
  grid-area: side2;
  cursor: pointer;
}

.sideImg3 {
  background-image: url("https://i.postimg.cc/XN83GcPv/max-andrey-g-Hs8g-Vzbw-FM-unsplash.jpg");
  background-position: center;
  grid-area: side3;
  display: none;
}

.title,
.title2 {
  font-size: 43px;
}

.title {
  margin: 45px;
  color: whitesmoke;
}

.title2 {
  margin: -45px;
  margin-left: 45px;
  color: #5b0834;
}

.title3 {
  font-size: 35px;
  margin: 45px;
  margin-left: 45px;
  color: #5b0834;
}

.item {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 35px;
}

.item1,
.price1 {
  font-size: 40px;
  text-align: right;
  padding-right: 45px;
}

.price {
  padding-left: 15px;
  font-size: 38px;
}
/* / Header */

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
}

.nav {
  color: whitesmoke;
}

.logo {
  color: olivedrab;
  line-height: 65px;
}

ul {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  background-color: black;
  justify-items: center;
  display: grid;
}

li {
  background-color: black;
  text-transform: uppercase;
  padding: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

a:hover {
  color: rgb(37, 160, 129);
}
/* / Navbar */

/* About */
.aboutHoodie {
  text-align: center;
  padding-top: 70px;
}

.titleAbout {
  background-color: #ba2d0b;
  margin-bottom: 25px;
  padding: 35px 0px;
  color: #ddcecd;
}

.fabricImg {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "imgF1 imgF2 imgF3"
    "imgF4 imgF5 imgF6"
    "imgF7 imgF8 imgF9";
  grid-template: repeat(auto-fit, minmax(200px, 1fr)), repeat(auto-fit, minmax(10px, 1fr));
  gap: 25px;
}

.imgF {
  background-color: lightslategray;
  border: 3px solid black;
  box-sizing: border-box;
  text-align: center;
}

.imgF img {
  width: 400px;
  height: 285px;
}
.fabricImg h2 {
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
}

.fabricImg p {
  font-family: "Poppins", sans-serif;
  width: 350px;
  padding: 15px;
}

.imgF1 {
  grid-area: imgF1;
}

.imgF2 {
  grid-area: imgF2;
}

.imgF3 {
  grid-area: imgF3;
}

.imgF4 {
  grid-area: imgF4;
}

.imgF5 {
  grid-area: imgF5;
}

.imgF6 {
  grid-area: imgF6;
}

.imgF7 {
  grid-area: imgF7;
}

.imgF8 {
  grid-area: imgF8;
}

.imgF9 {
  grid-area: imgF9;
}

/* / About */

/* Products */
.productsHoodie {
  padding-top: 70px; 
}

.titleProducts {
  background-color: #19647e;
  text-align: center;
  padding: 45px;
}

.productsImg {
  display: grid;
  grid-template-areas:
    "imgP imgP1"
    "imgP imgP1"
    "imgP2 imgP2"
    "imgP3 imgP8"
    "imgP4 imgP5"
    "imgP4 imgP5"
    "imgP6 imgP7"
    "imgP6 imgP7";
  grid-template-rows: repeat(auto-fit, 2fr);
  grid-template-columns: repeat(auto-fit, 2fr);
  box-sizing: border-box;
}

.imgHeroP {
  background-image: url("https://i.postimg.cc/Qd4B3LdW/image.png");
  grid-area: imgP;
}

.imgHeroP h1 {
  font-size: 40px;
}

.titleP {
  padding-left: 58px;
  color: #37392e;
  line-height: 1.35;
}

.titleP1 {
  padding-top: 10px;
}

.titleP2 {
  color: #230c33;
}

.titleP3 {
  padding-top: 130px;
}

.titleP4 {
  transform: rotate(92deg);
  padding-bottom: 320px;
  opacity: 85%;
  font-size: 50px;
  color: olivedrab;
}

.imgP {
  background-color: #b27c66;
  border: 3px solid black;
  background-position: center;
  background-repeat: no-repeat;
  margin: 25px;
  width: 600px;
}

.imgP1 {
  background-image: url("https://i.postimg.cc/sxXsCCp0/image.png");
  grid-area: imgP1;
  width: 600px;
}

.imgP2 {
  background-image: url("https://i.postimg.cc/ZRDkdTsP/image.png");
  grid-area: imgP2;
}

.imgP3 {
  background-image: url("https://i.postimg.cc/9zHqcj2V/image.png");
  grid-area: imgP3;
}

.imgP8 {
  background-image: url("https://i.postimg.cc/9f4sHPNV/image.png");
  grid-area: imgP8;
}

.imgP4 {
  background-image: url("https://i.postimg.cc/mrnZVqY3/image.png");
  grid-area: imgP4;
  width: 600px;
  height: 550px;
}

.imgP5 {
  background-image: url("https://i.postimg.cc/8zvCkvYd/image.png");
  grid-area: imgP5;
  width: 600px;
  height: 550px;
}

.imgP6 {
  background-image: url("https://i.postimg.cc/0y8vM293/image.png");
  grid-area: imgP6;
  width: 600px;
  height: 550px;
}

.imgP7 {
  background-image: url("https://i.postimg.cc/Jz6TpyxX/image.png");
  grid-area: imgP7;
  width: 600px;
  height: 550px;
}

.imgPSet1 {
  border: none;
  width: 100%;
  height: 350px;
  background-color: orange;
}

.imgPSet2 {
  border: none;
  width: 600px;
  height: 350px;
  background-color: orange;
}
/* / Products */

/* Contact Us */
.contactHoodie {
  padding-top: 45px;
}

.titleContact {
  background-color: rgb(37, 160, 129);
  text-align: center;
  padding: 35px;
  margin: 25px 0 0 0;
}

.contactUs {
  display: grid;
  grid-template-areas:
    "Whatsapp Instagram Facebook"
    "Twitter Email YouTube"
    "Service Github Linkedin";
  justify-content: center;
  column-gap: 105px;
  row-gap: 35px;
  padding: 25px;
  background-color: #075e54;
  grid-template-columns: 250px 250px 250px;
}

.contactUs a {
  font-family: "oswald";
  line-height: 100px;
  font-size: 25px;
  padding: 5px;
}

.contactUs {
  text-shadow: 4px 4px 4px black;
}

.contactUs i:hover {
  font-size: 55px;
}

.contactUs a:hover {
  font-size: 45px;
}

.contactUs i.fa-whatsapp,
.contactUs a.whatsapp, .socialMedia .fa-whatsapp {
  color: #25d366;
}

.contactUs i.fa-instagram, .socialMedia .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.contactUs a.instagram {
  text-shadow: none;
}

.contactUs i.fa-facebook-square,
.contactUs a.facebook, .socialMedia .fa-facebook-square {
  color: #4267b2;
}

.contactUs i.fa-twitter,
.contactUs a.twitter, .socialMedia .fa-twitter-square {
  color: #1da1f2;
}

.contactUs i.fa-envelope,
.contactUs a.email {
  color: seashell;
}

.contactUs i.fa-youtube,
.contactUs a.youtube, .socialMedia .fa-youtube {
  color: #ff0000;
}

.contactUs i.fa-linkedin,
.contactUs a.linkedin, .socialMedia .fa-linkedin {
  color: #0e76a8;
}

.contactUs i.fa-github,
.contactUs a.github {
  color: #171515;
}

.contactUs i.fa-briefcase,
.contactUs a.service {
  color: rgb(230, 156, 95);
}

.contactWhatsapp {
  grid-area: Whatsapp;
}

.contactInstagram {
  grid-area: Instagram;
}

.contactFacebook {
  grid-area: Facebook;
}

.contactTwitter {
  grid-area: Twitter;
}

.contactEmail {
  grid-area: Email;
}

.contactYoutube {
  grid-area: YouTube;
}

.contactGithub {
  grid-area: Github;
}

.contactLinkedin {
  grid-area: Linkedin;
}

.contactService {
  grid-area: Service;
}
/* / Contact Us */

/* Footer */
footer {
  display: grid;
  background-color: black;
  padding: 55px;
  color: white;
  grid-template-areas:
  "socialMedia paymentMethod shippingMethod"
  "copyright copyright copyright";
  grid-template-columns: repeat(3, 1fr);
}

.socialMediaContainer {
  grid-area: socialMedia;
}

.pins {
  font-family: poppins;
}

.socialMedia {
  justify-content: center;
}

.socialMedia .fa-github {
  color: white;
}

.socialMedia .fa-whatsapp,
.socialMedia .fa-instagram,
.socialMedia .fa-facebook-square,
.socialMedia .fa-twitter-square {
  padding-right: 15px;
}

.socialMedia .fa-whatsapp,
.socialMedia .fa-instagram,
.socialMedia .fa-facebook-square,
.socialMedia .fa-twitter-square,
.socialMedia .fa-linkedin-square,
.socialMedia .fa-github {
  padding-top: 20px;
}

.paymentMethodContainer {
  grid-area: paymentMethod;
  font-family: poppins;
}

.paymentMethod img {
  padding-right: 15px;
  padding-top: 20px;
  height: 35px;
  width: 60px;
}

.shippingMethodContainer {
  grid-area: shippingMethod;
  font-family: poppins;
}

.shippingMethod img {
  padding-right: 15px;
  padding-top: 20px;
  width: 60px;
  height: 35px;
}

.copyright {
  font-family: poppins;
  grid-area: copyright;
  text-align: center;
  padding: 10px 0 0 0;
}
/* / Fotter */

/* Responsive */
/* Desktop */
@media (min-width: 1024px) {
}
/* / Desktop */

/* Tablet */
@media (max-width: 1024px) {
  body {
    width: 100%;
    background-repeat: no-repeat;
  }

  .header {
    grid-template-areas:
      "hero hero hero"
      "hero hero hero"
      "hero hero hero"
      "side1 side1 side1"
      "side1 side1 side1"
      "side2 side2 side2"
      "side2 side2 side2";
    grid-template-rows: repeat(7, 250px);
  }

  .hero {
    width: auto;
    height: auto;
  }

  .title,
  .title2 {
    font-size: 58px;
  }

  .title {
    margin: 25px;
  }

  .title2 {
    margin: -25px;
    margin-left: 25px;
  }

  .title3 {
    font-size: 45px;
    margin: 25px;
    margin-left: 25px;
  }

  .sideImg1 .item,
  .sideImg1 .price {
    text-align: right;
  }

  .item {
    font-size: 65px;
    padding-right: 100px;
  }

  .price {
    font-size: 55px;
    padding-right: 100px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
    order: none;
  }

  .nav {
    display: grid;
    grid-template-areas: "logo home products about contact";
    grid-template-rows: repeat(5, 25px);
    margin-bottom: -45px;
  }

  .logo {
    grid-area: logo;
    padding-right: 20px;
    /* padding-left: -45px; */
  }

  ul {
    padding-top: 10px;
  }

  .home {
    grid-area: home;
  }

  .about {
    grid-area: about;
  }

  .products {
    grid-area: products;
  }

  .contact {
    grid-area: contact;
  }

  /* About */
  .fabricImg {
    grid-template-areas:
      "imgF1 imgF2"
      "imgF3 imgF4"
      "imgF5 imgF6"
      "imgF7 imgF8"
      "imgF9 imgF9";
    gap: 15px;
  }

  .none {
    display: none;
  }
  /* / About */

  /* Products */
  .productsImg {
    display: grid;
    grid-template-areas:
      "imgP"
      "imgP1"
      "imgP4"
      "imgP5"
      "imgP6"
      "imgP7";
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, 1fr);
    align-content: center;
    margin: 0px 75px;
  }

  .imgP1 {
    height: 550px;
  }

  .imgP2,
  .imgP3,
  .imgP8 {
    display: none;
  }
  /* / Products */
}
/* Tablet */

/* Mobile */
@media (max-width: 480px) {
  body {
    background-repeat: no-repeat;
  }

  .header {
    grid-template-areas:
      "hero hero hero"
      "hero hero hero"
      "side1 side1 side1"
      "side2 side2 side2";
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(auto-fit, 150px);
  }

  .hero {
    width: auto;
    height: auto;
  }

  .title,
  .title2 {
    font-size: 33px;
  }

  .title {
    margin: 15px;
  }

  .title2 {
    /* margin: -25px; */
    margin-left: 15px;
  }

  .title3 {
    display: none;
  }

  .sideImg1 .item,
  .sideImg1 .price {
    text-align: right;
    padding-right: 30px;
  }

  .item1,
  .price1 {
    color: orange;
  }

  .item {
    font-size: 39px;
  }

  .price {
    font-size: 33px;
  }

  /* Navbar */
  .navbar {
    background-color: black;
    grid-template-areas: "products about contact";
  }

  .logo {
    display: none;
  }

  .home {
    display: none;
  }
  /* / Navbar */

  /* About */
  .titleProducts {
    padding: 105px 0;
    font-size: 35px;
  }

  .fabricImg {
    justify-items: center;
    grid-template-areas:
      "imgF1"
      "imgF2"
      "imgF3"
      "imgF4"
      "imgF5"
      "imgF6"
      "imgF7"
      "imgF8"
      "imgF9";
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .titleAbout {
    margin-bottom: 0;
    padding: 105px 0;
  }
  /* / About */

  /* Products */
  .productsImg {
    display: grid;
    grid-template-areas:
      "imgP"
      "imgP1"
      "imgP4"
      "imgP5"
      "imgP6"
      "imgP7";
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, 1px);
    justify-content: center;
    align-content: center;
  }

  .titleP,
  .titleP4 {
    display: none;
  }

  .imgP {
    width: 450px;
    height: 1fr;
    margin: 0;
    margin-left: -250px;
  }

  .imgP,
  .imgP1 {
    height: 550px;
  }

  .img2,
  .img3,
  .img8 {
    display: none;
  }
  /* / Products */
}
/* / Mobile */
/* / Responsive */
