* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Oswald", sans-serif;
  background-color: orange;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* body {
  margin: -25px;
} */

.container {
  display: grid;
}
/* Header */
.header {
  display: grid;
  background-size: cover;
  grid-template-areas:
    "hero hero side1"
    "hero hero side1"
    "hero hero side2"
    "hero hero side2";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 3fr 3fr 5.2fr;
}

.hero {
  /* background-image: url("https://i.postimg.cc/63h29CWg/autri-taheri-3-G1-TJkt-MQJw-unsplash.jpg"); */
  background-image: url("https://i.postimg.cc/VkjftMpN/eniko-kis-Bv15r-Y8a-80-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #f5fefd;
  grid-area: hero;
  width: 800px;
  height: 800px;
}

.sideImg1 {
  background-image: url("https://i.postimg.cc/SxY8bXw7/sonny-mauricio-y-Fw-EQMYRF-0-unsplash.jpg");
  border: 2.5px solid black;
  background-position: center;
  grid-area: side1;
  color: #f65052;
  cursor: pointer;
}

.sideImg2 {
  background-image: url("https://i.postimg.cc/j2QXYDmS/strvnge-films-W-p0lc-L6-p0-unsplash.jpg");
  border: 2.5px solid black;
  background-position: center;
  grid-area: side2;
  cursor: pointer;
}

.sideImg3 {
  background-image: url("https://i.postimg.cc/XN83GcPv/max-andrey-g-Hs8g-Vzbw-FM-unsplash.jpg");
  background-position: center;
  grid-area: side3;
  display: none;
}

.title,
.title2 {
  font-size: 43px;
}

.title {
  margin: 45px;
  color: whitesmoke;
}

.title2 {
  margin: -45px;
  margin-left: 45px;
  color: #5b0834;
}

.title3 {
  font-size: 35px;
  margin: 45px;
  margin-left: 45px;
  color: #5b0834;
}

.item {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 35px;
}

.item1,
.price1 {
  font-size: 40px;
  text-align: right;
  padding-right: 45px;
}

.price {
  padding-left: 15px;
  font-size: 38px;
}
/* / Header */

/* Navbar */
.navbar {
  /* display: grid; */
  order: -1;
}

.nav {
  color: whitesmoke;
}

.logo {
  color: olivedrab;
  line-height: 65px;
}

ul {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  background-color: black;
  justify-items: center;
  display: grid;
}

li {
  background-color: black;
  text-transform: uppercase;
  padding: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

a:hover {
  color: rgb(37, 160, 129);
}
/* / Navbar */

/* About */
.aboutHoodie {
  text-align: center;
}

.titleAbout {
  padding: 35px 0px;
}

.fabricImg {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "imgF1 imgF2 imgF3"
    "imgF4 imgF5 imgF6"
    "imgF7 imgF8 imgF9";
  grid-template: repeat(auto-fit, minmax(200px, 1fr)), repeat(auto-fit, minmax(10px, 1fr));
  gap: 25px;
}

.imgF {
  background-color: lightslategray;
  border: 2px solid black;
  box-sizing: border-box;
  text-align: center;
}

.imgF img {
  width: 400px;
  height: 285px;
}

.fabricImg p {
  width: 350px;
  padding: 15px;
}

.imgF1 {
  grid-area: imgF1;
}

.imgF2 {
  grid-area: imgF2;
}

.imgF3 {
  grid-area: imgF3;
}

.imgF4 {
  grid-area: imgF4;
}

.imgF5 {
  grid-area: imgF5;
}

.imgF6 {
  grid-area: imgF6;
}

.imgF7 {
  grid-area: imgF7;
}

.imgF8 {
  grid-area: imgF8;
}

.imgF9 {
  grid-area: imgF9;
}
/* / About */

/* Responsive */
/* Desktop */
@media (min-width: 1024px) {

}
/* / Desktop */

/* Tablet */
@media (max-width: 1024px) {
  body {
    width: 100%;
    background-repeat: no-repeat;
  }

  .header {
    grid-template-areas:
      "hero hero hero"
      "hero hero hero"
      "hero hero hero"
      "side1 side1 side1"
      "side1 side1 side1"
      "side2 side2 side2"
      "side2 side2 side2";
    grid-template-rows: repeat(7, 250px);
  }

  .hero {
    width: auto;
    height: auto;
  }

  .title,
  .title2 {
    font-size: 58px;
  }

  .title {
    margin: 25px;
  }

  .title2 {
    margin: -25px;
    margin-left: 25px;
  }

  .title3 {
    font-size: 45px;
    margin: 25px;
    margin-left: 25px;
  }

  .sideImg1 .item,
  .sideImg1 .price {
    text-align: right;
  }

  .item {
    font-size: 65px;
    padding-right: 100px;
  }

  .price {
    font-size: 55px;
    padding-right: 100px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
    order: none;
  }

  .nav {
    display: grid; 
    grid-template-areas: "logo home about products contact";
    grid-template-rows: repeat(5, 25px);
    margin-bottom: -45px;
  }

  .logo {
    grid-area: logo;
    padding-right: 20px;
    /* padding-left: -45px; */
  }

  ul {
    padding-top: 10px;
  }

  .home {
    grid-area: home;
  }

  .about {
    grid-area: about;
  }

  .products {
    grid-area: products;
  }

  .contact {
    grid-area: contact;
  }

  /* About */
  .fabricImg {
    grid-template-areas:
    "imgF1 imgF2"
    "imgF3 imgF4"
    "imgF5 imgF6"
    "imgF7 imgF8"
    "imgF9 imgF9";
    gap: 15px;
  }

  .none {
    display: none;
  }
  /* / About */
}
/* Tablet */

/* Mobile */
@media (max-width: 480px) {
  body {
    width: 100%;
    background-repeat: no-repeat;
  }

  .header {
    grid-template-areas:
      "hero hero hero"
      "hero hero hero"
      "side1 side1 side1"
      "side2 side2 side2";
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(auto-fit, 150px);
  }

  .hero {
    width: auto;
    height: auto;
  }

  .title,
  .title2 {
    font-size: 33px;
  }

  .title {
    margin: 25px;
  }

  .title2 {
    margin: -25px;
    margin-left: 25px;
  }

  .title3 {
    display: none;
  }

  .sideImg1 .item,
  .sideImg1 .price {
    text-align: right;
    padding-right: 30px;
  }

  .item1,
  .price1 {
    color: orange;
  }

  .item {
    font-size: 39px;
  }

  .price {
    font-size: 33px;
  }

  .navbar {
    background-color: black;
    flex-direction: row;
    display: flex;
    order: none;
  }

  .logo {
    display: none;
  }

  .home {
    display: none;
  }

  /* About */
  .fabricImg {
    justify-items: center;
    grid-template-areas:
    "imgF1"
    "imgF2"
    "imgF3"
    "imgF4"
    "imgF5"
    "imgF6"
    "imgF7"
    "imgF8"
    "imgF9";
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  /* / About */
}
/* / Mobile */
/* / Responsive */
